.mainCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
  
}
.inputDiv{
    width: 80%;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    flex-direction: column;
}
.loginCard{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    width: 30%;
    height: 40vh;
  
}
.buttonDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}

